<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <script src="https://kit.fontawesome.com/2d81885619.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>
<body>
    <footer class="home__footer">

        <div class="footer--topBox">
            <h2>¿Necesitás ayuda?</h2>
            <button>Soporte</button>
        </div>
        

        <nav class="home_footer-nav">
            <ul>
                <li><a href="">¿Quiénes somos?</a></li>
                <li><a href="">Políticas de privacidad</a></li>
                <li><a href="">Términos y condiciones</a></li>
            </ul>
        </nav>

        <img src="../../public/images/logo.png" alt="logo ticket Pro">
        
        <div class="icons-box">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        
        <p>Copyright © 2023 ticketpro.com | All rights reserved</p>
    </footer>
</body>
</html>