<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>

<body>

    <header class="home-header-all">
        <div class="home-header">
            <div class="containe">
                <div class="home-header-nav nav-home-a">
                    <a href="" class="nav-icon-a"><i class="fa-regular fa-user"></i></a>
                    <img src="/images/logo.png" alt="">
                    <h6>Ingresar</h6>
                </div>
                <div class="home-header-nav nav-home-b">
                    <a href="" class="nav-icon-a"><i class="fa-regular fa-user"></i></a>
                    <a href="" class="nav-icon-b"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>

            </div>

        </div>
      

        <!-- <div class="menu-desple">
            <div class="search-container">
                <input class="search-input" type="search" placeholder="Search">
            </div>

            <div class="select-container">
                <select class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="1">Opción 1</option>
                    <option value="2">Opción 2</option>
                    <option value="3">Opción 3</option>
                </select>
            </div> -->



        </div>

    </header>

</body>

</html>