<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2d81885619.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body class="body__login">
    <main class="login-container">

        <div class="topBox">
            <a href="/index.html"><img src="/images/logo.png" alt="logo ticket Pro">
            </a>
            <h1>Sign in</h1>
        </div>

        <div class="middleBox">
            <form class="login-form" action="/login" method="POST">

                <form class="login-form" action="/login" method="POST">
                    <input id="user" type="text" name="user" required>
                    <label class="lbl-user" for="user">
                        <span class="text-user">User</span>
                    </label>
                </form>

                <form class="login-form" action="/login" method="POST">
                    <input id="password" type="password" name="password" required>
                    <label class="lbl-pass" for="password">
                        <span class="password-pass">Password</span>
                    </label>
                </form>

                <div class="checkbox">
                    <input title="remember" type="checkbox" name="remember">
                    <label for="remember"><span>Remember me</span></label>
                </div>

            </form>
        </div>

        <div class="bottomBox">
            <div class="button-container">
                <button>Sign in</button>
            </div>

            <a href="/register.html"><p>Create account</p></a>
        </div>

    </main>
</body>

</html>