<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Document</title>
</head>

<body>

    <header class="header-container">
        <div class="text-body">
            <h4>Confirmar la Operación</h4>
            <i class="fa-solid fa-cart-shopping"></i></i>


        </div>

    </header>

    <div class="body-container">
        <a href="#">
            <h5 class="resumen-cuenta-body">Cancelar compra</h5>
        </a>
        <h5 class="resumen-compra-body">Resumen de Compras</h5>
        <p>Atencion: Tus entradas todaavia no estan reservadas, confirma tu reserva para asegurar tu lugar</p>
        <div class="product-hora">
            <div id="fecha"></div>
            <div id="hora"></div>
        </div>

        <div class="container">

            <h4>Servicios</h4>

            <div class="content">
                <p>Cargo por servicios</p>
                <p>$900</p>

            </div>
        </div>

        <div class="container">
            <h4>Entrega</h4>
            <div class="content">
                <p>Ticket digital usando Quentro</p>
                <p>$0,00</p>

            </div>
        </div>

        <div class="content-flex">
            <div class="details-flex">
                <h4 class="details-number">1</h4>
                <h4>Total</h4>

            </div>
            <p>$6.900</p>
        </div>

        <div class="btn-reserva">
            <a href="">
                <h4>Confirmar reserva</h4>
            </a>
        </div>
    </div>




    <script src="/js/date.js"></script>
</body>

</html>