<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Document</title>
</head>

<body>

    <header class="header-container">
        <div class="text-body">
            <h4>Confirmar la Operación</h4>
            <i class="fa-solid fa-cart-shopping fa-shake"></i>
    
    
        </div>

    </header>

    <div class="body-container">
        <a href="#">
            <h5>Cancelar compra</h5>
        </a>
        <h5>Resumen de Compras</h5>
        <p>Atencion: Tus entradas todaavia no estan reservadas, confirma tu reserva para asegurar tu lugar</p>
        <div class="product-hora">
            <div id="fecha"></div>
            <div id="hora"></div>
        </div>
    </div>
    <script src="/js/date.js"></script>
</body>

</html>