@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;900&display=swap');
@import './normalize.css';
@import './general.css';
@import './index.css';
@import './login.css';
@import './register.css';
@import './productCart.css';
@import './productDetail.css';
@import './header.css';
@import './footer.css';
@import './carrousel-mob.css';
@import './carrousel-desktop.css';