* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000e38;
}

.home-header {
    background-color: #000b27;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.home-header a {
    color: #FE7F2D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.containe {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containe h6{
    margin-left: 10px;
}

.home-header-nav {
    display: flex;
}

.home-header-nav img {
    width: 4.5em;
    height: auto;
    margin: 0.1em;
}

.nav-icon-a i{
    border-right: 1px solid #41ead4;
    padding-right: 10px;
}

.nav-icon-b {
    margin: 0 0.5em;
}
.menu-desple{
    display: none;
}

.header_login {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

@media  (min-width: 768px) {
.containe{
    height: 40px ;
    align-items: center;
}

.home-header-nav.nav-home-b .nav-icon-a {
    display: none;
}

.nav-icon-a {
    border-right: none;
}
.nav-home-a a{
    display: block;
}
.containe h6{
    display: block;
    color: #FE7F2D;
    font-size: 15px;
}
.nav-logo img{
    display: block;
    width: 200px;
    justify-content: center;
}
.nav-logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.menu-desple{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.d-flex {
    display: flex;
  }

  .search-container {
    margin: 20px;
  }

  .search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #41ead4;
    border-radius: 5px;
    font-size: 16px;
  }

  .select-container {
    margin: 20px;
  }

  .custom-select {
    width: 300px;
    padding: 10px;
    border: 2px solid #41ead4;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
  }
 
  .custom-select option {
    background-color: #ffffff;
    color: #000000;
  }
 
  .custom-select:focus {
    outline: none;
    border-color: #41ead4;
  }

  }

  @media  (min-width: 768px) {
    
  }