.body__main {
  background-color: var(--colorAzul);
  font-family: 'Barlow';
}

.body__main--logo {
  display: none;
}

/* SEARCHBAR */

.body__main__containerSearch {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  margin: 10px 0;
}

.body__main__containerSearchBar {
  display: flex;
  background-color: var(--colorAzul2);
  border: 2px solid var(--colorNaranja);
  padding: 5px 20px;
  border-radius: 18px;
  margin: 10px 0;
  box-shadow: 0 2px 3px 0 var(--colorAzul2);
  width: 75%;
}

.body__main__containerSearchBar i {
  color: var(--colorNaranja);
  padding-right: 7px;
  padding-top: 5px;
}

.body__main__containerSearch--searchbar {
  border: none;
  background-color: transparent;
  font-family: 'Barlow';
  font-weight: 500;
  width: 100%;
  color: white;
  outline:none
}

.select {
  display: none;
}

.body__main__div--admin {
  display: flex;
  justify-content: center;
}

.body__main__div--admin-button {
  background-color: var(--colorNaranja);
  padding: 5px;
  text-transform: uppercase;
  margin: 5px 0 0 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  text-decoration: none;
}


.body__main--sliderlEventos {
  margin: 10px 0;
}

.body__main--sliderlEventos h2 {
  text-align: center;
  color: var(--colorBlanco);
  padding-bottom: 10px;
}

.ver-todo {
  color: var(--colorTurquesa);
  transition: 500ms;
  transition-property: color;
  text-decoration: none;
}

.ver-todo:hover {
  color: var(--colorNaranja);
  border-radius: 10px;
}

.div__card--cercaDeTi {
  background-color: var(--colorAzul2);
  width: 65%;
  margin: 20px 0 15px 0;
  border-radius: 10%;
  color: var(--colorBlanco);
  box-shadow: 0 0 5px 1px var(--colorTurquesa), 0 0 15px 2px #ebecca;
  transition: 500ms;
  transition-property: box-shadow, color;
}

.div__card--cercaDeTi:hover {
  box-shadow:  0 2px 2px var(--colorTurquesa), 0 0 22px 2px #ebecca;
  color: var(--colorNaranja);
}

.div__card--cercaDeTi img {
  padding: 15px 20px;
  height: 180px;
}

.div__card--cercaDeTi p {
  color: white;
  margin: 0;
}

.div__card--cercaDeTi a {
  text-decoration: none;
}

.div__card--title {
  border-bottom: 1px solid var(--colorTurquesa);
  margin: 0 20px;
  padding-bottom: 5px;
  font-size: x-large;
}


.div__card--cercaDeTi-button {
  border: none;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  font-weight: 700;
  color: var(--colorAzul2);
  text-transform: uppercase;
  background-color: var(--colorNaranja);
  cursor: pointer;
  transition: 500ms;
  transition-property: background-color;
}

.div__card--cercaDeTi-button:hover {
  background-color: var(--colorTurquesa);
}

.body__main--sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__main--sections-actYevents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.body__main--actividades {
  background-image: url(/images/actividades.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding: 15px 10px;
  margin: 10px 0 20px 0;
  width: 90%;
  flex-direction: column;
  align-items: center;
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
  transition-property: box-shadow;
}

.body__main--actividades:hover {
  box-shadow: inset 0 0 5px 1px var(--colorTurquesa), 0 0 15px 2px #ebecca;
}

.body__main--actividades a {
  text-decoration: none;
}

.body__main--actividades-title {
  color: var(--colorBlanco);
  border-radius: 10px;
  padding-bottom: 10px;
  padding-bottom: 5px;
  font-size: larger;
  font-weight: 500;
}

.actividades-description {
  display: none;
}

.body__main--actividades-button {
  border: none;
  border-radius: 15px;
  padding: 2px 5px;
  margin-left: 2em;
  background-color: var(--colorTurquesa);
  cursor: pointer;
  transition: 500ms;
  transition-property: background-color, color;
}

.body__main--actividades-button:hover {
  background-color: var(--colorNaranja);

}

.body__main--pickup {
  background: linear-gradient(rgba(0, 11, 39, 0.50), rgba(0, 11, 39, 0.50)), url('/images/location.jpg') no-repeat;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px 10px 15px 10px;
  width: 90%;
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 500ms;
  transition-property: box-shadow;
}

.body__main--pickup:hover {
  box-shadow: inset 0 0 5px 1px var(--colorTurquesa), 0 0 15px 2px #ebecca;

}

.body__main--pickup i {
  color: var(--colorNaranja);
}

.body__main--pickup a {
  color: var(--colorBlanco);
  text-decoration: none;
}

.body__main--proxEvento {
  display: flex;
  width: 100%;
  justify-content: center;
  background: url(/images/fondo.png) no-repeat bottom;
  background-size: 100% 100px;
}

.div__card--proxEvento {
  background-color: var(--colorAzul2);
  margin-bottom: 25px;
  color: var(--colorBlanco);
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  transition: 0.5s;
  transition-property: box-shadow;
}

.div__card--proxEvento:hover {
  box-shadow: inset 0 0 5px 1px var(--colorTurquesa), 0 0 15px 2px #ebecca;
}

.div__card--proxEvento p {
  font-weight: 500;
  text-align: center;
}

.div__card--proxEvento img {
  width: 40%;
  height: 110px;
  padding: 10px 3px;
}

.div__card--proxEvento-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 5px;
}

.div__card--proxEvento-title {
  border-bottom: 1px solid var(--colorTurquesa);
  width: 93%;
  text-align: center;
  padding-bottom: 2px;
  font-size: large;
}

.div__card--proxEvento-description-button {
  border: none;
  padding: 2px 10px;
  margin: 4px 0;
  border-radius: 10px;
  font-weight: 700;
  color: var(--colorAzul2);
  background-color: var(--colorNaranja);
  cursor: pointer;
  transition: 500ms;
  transition-property: background-color;
}

.div__card--proxEvento-description-button:hover {
  background-color: var(--colorTurquesa);
}

/* TABLET */

@media (min-width: 481px) {
  
  /* SEARCHBAR */

  .body__main__form {
    display: flex;
    justify-content: center;
  }

  .body__main__containerSearch {
    justify-content: space-evenly;
    background-color: var(--colorAzul2);
    box-shadow: 0 5px 3px 0 var(--colorAzul2);
    width: 90%;
    outline: none;
  }

  .body__main__containerSearchBar {
    background-color: var(--colorAzul);
    border: 2px solid var(--colorTurquesa);
    border-radius: 0;
    padding: 5px 10px;
    margin: 10px 0;
    width: 45%;
    color: var(--colorBlanco);
    transition: 500ms;
    transition-property: background-color, color;
    outline: none;
}

.body__main__containerSearchBar:hover {
  color: var(--colorAzul);
  }

  .body__main__containerSearchBar i {
    color: var(--colorTurquesa);
    padding-top: 3px;
    padding-right: 8px;
  }

  .body__main__containerSearch--searchbar {
    color: var(--colorBlanco);
    margin-right: 3px;
  }

  .select {
    display: flex;
    width: 45%;
    position: relative;
  }

  .select i {
    color: var(--colorTurquesa);
    position: absolute;
    right: 13px;
    bottom: 18px;
  }

  .select__options {
    height: 37px;
    margin-top: 10px;
    color: gray;
    background-color: var(--colorAzul);
    border: 2px solid var(--colorTurquesa);
    border-radius: 0;
    text-align: center;
    width: 100%;
    appearance: none;
    transition: 500ms;
    transition-property: background-color, color;
    cursor: pointer;
    outline: none;
  }

  .select__options option {
    background-color: var(--colorAzul2);
    color: var(--colorBlanco);
    text-align: center;
  }

  .select__options:hover {
    color: white;
  }
  

  /* SLIDER */

  .body__main--sliderlEventos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorAzul2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    padding: 15px 0;
  }

  .div__card--cercaDeTi {
    background-color: var(--colorAzul);
    width: 55%;
    height: 270px;
    margin: 15px 0;
    color: var(--colorBlanco);
  }

  .body__main--sliderlEventos h2 {
    margin: 20px;
  }

  .div__card--cercaDeTi img {
    padding: 10px 20px 5px 20px;
    height: 125px;
  }

  .div__card--title {
    padding-bottom: 2px;
  }

  .div__card--cercaDeTi-button {
    padding: 2px 10px;
    margin-top: 5px;
  }
  

  /* SECTIONS */

  .body__main--actividades-title {
    color: var(--colorBlanco);
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 2px 1px 9px black;
    font-size: x-large;
  }

  .actividades-description {
    display: inline-block;
    color: black;
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 2px 1px 9px var(--colorBlanco);
    padding: 5px;
    margin: 10px 0;
    font-size: small;
    
  }

  .body__main--actividades button {
    padding: 5px 10px;
  }

  .body__main--pickup {
    justify-content: center;
    padding: 15px;
  }

  .body__main--pickup i {
    font-size: x-large;
    padding: 0 10px;
  }

  .body__main--pickup a {
    font-weight: 500;
    font-size: x-large;
  }



}

@media (min-width: 600px) {

  .div__card--cercaDeTi {
  width: 80%;
 }

 .body__main--sections {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background: url(/images/fondo.png) no-repeat bottom;
  background-size: cover;
}

 .body__main--pickup {
  width: 30%;
  height: 264px;
  margin: 10px 0 15px 10px;
 }

 .body__main--sections-actYevents {
  display: flex;
  flex-direction: column;
  width: 65%;

 }

 .body__main--proxEvento {
  background: none;
 }


}

/* DESKTOP */

@media (min-width: 768px) {

  .logo__container a {
    display: flex;
    justify-content: center;
  }

  .body__main__containerSearch {
    width: 75%;
}

  .body__main--logo {
    display: none;
  }

  .div__card--cercaDeTi {
    width: 80%;
    height: 280px;
  }

  .div__card--cercaDeTi-button {
    margin: 10px;

  }

  .div__card--proxEvento img {
    width: 25%;
  }

  .body__main--pickup {
    width: 25%;

  }

  .body__main--sections {
    background: url(/images/fondo.png) no-repeat bottom;
    background-size: cover;
  }

  .body__main--sections-actYevents {
    width: 90%;
}

  .body__main--actividades {
  margin: 10px 0 30px 0;
  }

  .actividades-description {
    font-size: large;
  }

  .body__main--proxEvento{
  height: 150px;
  }

  .body__main--proxEvento p{
    font-size: x-large;
    padding-right: 10px;
  }

}

@media (min-width: 1024px) {

  .body__main__containerSearch {
    width: 70%;
  }

  .body__main--sections {
    justify-content: center;
  }

  .body__main--sections-actYevents {
    width: 65%;
}

.body__main--pickup {
  margin: 0 20px 15px 15px;
  width: 15%;
  height: 300px;
}

  .body__main--actividades-title {
    font-size: xx-large;
  }

  .div__card--proxEvento img {
    width: 25%;
    height: 110px;
    padding: 10px 0px;
    margin: 0 20px;
  }

  .div__card--cercaDeTi {
    height: 310px;
  }

}

/*  @media (min-width: 1024px) {

  .body__main__containerSearch {
    width: 70%;
  }

  .body__main--sections-actYevents

  .div__card--proxEvento img {
    width: 20%;
}
}  */

@media (min-width: 1200px) {

  .div__card--cercaDeTi {
    width: 70%;
    height: 270px;
  }

  .div__card--proxEvento img {
    width: 15%;
}

}