.productdetail{
    background-color: var(--colorAzul);
    font-family: 'Barlow';
}
.productdetail_main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
    width: 100%;
}

.detail--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.detail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorAzul2);
    margin: 40px 20%;
    color: var(--colorBlanco);
    width: 60%;
    border-radius: 10%;
    box-shadow: 0 0 5px 1px var(--colorTurquesa), 0 0 15px 2px #ebecca;
    padding: 0 20px 10px 20px;
    transition: 500ms;
    transition-property: box-shadow, color;

}

.detail-card:hover {
    box-shadow:  0 2px 2px var(--colorTurquesa), 0 0 22px 2px #ebecca;
    color: var(--colorNaranja);
  }

.detail-img {
    width: 87%;
    padding: 30px 10px;
    border-radius: 10%;
}

.productdetail_main-description-name {
    display: flex;
    align-items: center;   
    font-size:20px;
    gap: 3px;
}

.detail-card-button {
        border: none;
        padding: 5px 10px;
        margin: 10px;
        border-radius: 10px;
        font-weight: 700;
        color: var(--colorAzul2);
        text-transform: uppercase;
        background-color: var(--colorNaranja);
        cursor: pointer;
        transition: 500ms;
        transition-property: background-color;
      
    }
    
    .detail-card-button:hover {
      background-color: var(--colorTurquesa);
    }






/* -------------------- camila :  */


/*primer div*/
.productdetail_main-buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 10px 0;
    gap: 10px;
}
.productdetail_main-buttons a{
    width: 80%;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--colorBlanco);
    background-color: var(--colorAzul2);
    border: 2px solid var(--colorTurquesa);
    border-radius: 40px;
    padding: 3px 30px;
}
/*segundo div*/
.productdetail_main-des{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px 0;
}
.productdetail_main-des-img{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0.5em;
}
.productdetail_main-des-img img{
    height: 200px;
}
.productdetail_main-description{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    gap: 3px;
    
}
.productdetail_main-description-item{
    display: flex;
    align-items: flex-end;   
    font-size:13px;
    gap: 3px;
}
.productdetail_main-description-item i, a{
    color: var(--colorNaranja);
}
.productdetail_main-description-item h4{
    color: silver;
    font-size:15px;
}

/*boton comprar*/
.productdetail_main-det button{
    width: 60%;
    height: 40px;
    color: silver;
    background-color: var(--colorAzul);
    text-transform:uppercase;
    font-size: 14px;
    padding: 10px;
    border: 2px solid var(--colorNaranja);
    border-radius: 40px;
    transition: all 0.25s ease;
}
.productdetail_main-det button:hover{
    background-color: var(--colorNaranja) ;
}  
@media(min-width:768px){
    /*primer div*/
    .productdetail_main-buttons{
        
        gap: 10px;
    }
    .productdetail_main-buttons a{
        width: 30%;
    }
    /*tercer div*/
    .productdetail_main-des{
        width: 33%;
    }
    .productdetail_main-des-img img{
        height: 400px;
    }
    .productdetail_main-det{
        width: 66%;
        gap: 18px;
    }
    .productdetail_main-det-img{
        width: 33%;   
    }
    .productdetail_main-det-selects{
        width: 40%;
    }
    .productdetail_main-det-selects select{
        margin: 20px;
    }
    .productdetail_main-det button{
        width: 30%;
    }
}
@media(min-width:1024px){
    .productdetail_main-buttons a{
        font-size: 18px;
    }
    .productdetail_main-des{
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    .productdetail_main-det-selects select{
        font-size: 20px;
    }
    .productdetail_main-description-item{
        font-size: 20px;
    }
}