<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/politicsOfPrivacy.css" />
  <body>
    <%- include('partials/header') %>
    <main class="container">
      <div class="content">
        <p>
          Al registrarse y/o navegar el Sitio de ticketPro, el usuario y/o el
          visitante presta su consentimiento para que se utilice su información
          personal de acuerdo a las políticas que se describen a continuación.
        </p>
        <p>
          Este documento es parte integrante de los Términos y Condiciones de
          ticketPro. Mediante la aceptación de los Términos y Condiciones de
          Venta en el momento de la registración el usuario acepta las políticas
          aquí contenidas.
        </p>
        <h3>
          Derechos de acceso, cancelación y rectificación de la información
          personal.
        </h3>
        <p>
          Los usuarios tienen reconocidos y podrán ejercitar los derechos de
          acceder, cancelar y actualizar sus Datos Personales, incluyendo su
          dirección de e-mail, así como a oponerse al tratamiento de la misma y
          a ser informado de las cesiones llevadas a cabo, todo ello de
          conformidad a lo dispuesto en la Ley N°25.326 sobre Protección de los
          Datos Personales. Los usuarios garantizan y responden, en cualquier
          caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos
          Personales facilitada, y se comprometen a mantenerla debidamente
          actualizada.
        </p>
        <p>
          Los usuarios pueden modificar o cambiar en cualquier momento cualquier
          información que nos hayan proporcionado previamente, haciendo click en
          "cuenta", y luego eligiendo la sección apropiada para corregir, o para
          suprimir su información personal. Los cambios serán actualizados
          inmediatamente. Los usuarios también pueden contactarnos y estaremos
          dispuestos a cambiar, modificar o suprimir cualquier información.
        </p>
        <p>
          En determinados casos, mantendremos en nuestros archivos Datos
          Personales que nos hayas pedido que retiremos, con la finalidad de
          resolver disputas o reclamaciones, detectar problemas o incidencias y
          solucionarlos, y dar cumplimiento a lo dispuesto en los Términos y
          Condiciones de Venta por un período de tiempo determinado por la ley.
        </p>
      </div>
    </main>
    <%- include('partials/scripts') %> <%-include('partials/footer') %>
  </body>
</html>
