<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class="body-card">

    <%- include('partials/header') %>

    <main class="header-container">

        <div class="body-container">
            <div class="text-bodyy">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div>
                <a href="/">
                    <h5 class="resumen-cuenta-body">Cancelar compra</h5>
                </a>

            </div>
            <h5 class="resumen-compra-body">Resumen de Compras</h5>
            <p>Atencion: Tus entradas todaavia no estan reservadas, confirma tu reserva para asegurar tu lugar</p>
            <div class="product-hora">
                <div id="fecha"></div>
                <div id="hora"></div>
            </div>

            <div class="container">

                <div class="titulo-entradas-cart">
                    <h4>TUS ENTRADAS</h4>

                </div>

                <div class="nombre-artista-cart">
                    <h4>Roger Waters</h4>
                </div>

                <div class="content">

                    <div class="carrito">
                        <span class="suma-cantidad-letra">Cantidad:</span>
                        <button class="suma-resta" id="restar">-</button>
                        <span> <span id="cantidad"> 1</span></span>
                        <button class="suma-resta"id="sumar">+</button>
                    </div>


                    <p>1x Entradas Campo Delantero - General</p>
                    <p>$55.000</p>

                </div>
            </div>

            <div class="content-flex">
                <div class="details-flex">
                    <h4 class="details-number">1</h4>
                    <h4>Total</h4>

                </div>
                <p>$55.000</p>
            </div>

            <div class="btn-reserva">
                <a href="/users/login">
                    <h4>Comprar</h4>
                </a>
            </div>


        </div>
    </main>



<!-- ///////////////////main/////////////// -->


<%- include('partials/footer') %>

    </div>
    <script src="/js/date.js"></script>
</body>

</html>