<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2d81885619.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>


<body class="productdetail">
    <header class="home-header-all">
        <div class="home-header">
            <div class="containe">
                <div class="home-header-nav nav-home-a">
                    <a href="/users/login" class="nav-icon-a"><i class="fa-regular fa-user"></i></a>
                    <img src="/images/logo.png" alt="">
                    <a href="/users/login">
                        <h6>Ingresar</h6>
                    </a>
                </div>
                <div class="home-header-nav nav-home-b">
                    <a href="/users/login" class="nav-icon-a"><i class="fa-regular fa-user"></i></a>
                    <a href="/users/productCart" class="nav-icon-b"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
    </header>
    <main class="productdetail_main">
        <div class="productdetail_main-buttons">
            <a>Cómo comprar</a>
            <a>Información</a>
        </div>
        <div class="productdetail_main-des">
            <div class="productdetail_main-des-img">
                <img src="/images/DP_img.jfif" alt="imagen del producto">
            </div>
            <div class="productdetail_main-description">
                <div class="productdetail_main-description-item">
                    <i class="fa-solid fa-location-dot"></i> <a href="">Lugar </a>
                    <h4> Estadio Unico de La Plata</h4>
                </div>
                <div class="productdetail_main-description-item">
                    <i class="fa-solid fa-location-dot"></i><a href="">Ciudad </a>
                    <h4> -----</h4>
                </div>
                <div class="productdetail_main-description-item">
                    <i class="fa-solid fa-calendar-days"></i><a href="">Fecha </a>
                    <h4> 0000-00-00</h4>
                </div>
                <div class="productdetail_main-description-item">
                    <i class="fa-solid fa-clock"></i><a href="">Hora </a>
                    <h4> 00:00PM</h4>
                </div>
                <div class="productdetail_main-description-item">
                    <i class="fa-solid fa-location-dot"></i><a href="">Dirección </a>
                    <h4> Av 32,25 y 526 y 21</h4>
                </div>
            </div>
        </div>
        <div class="productdetail_main-det">
            <img class="productdetail_main-det-img" src="/images/estadio.jpeg" alt="Lugar">
            <div class="productdetail_main-det-selects">
                <select name="fecha" id="fecha">
                    <option value="1">fecha disponible 1</option>
                    <option value="2">fecha disponible 2</option>
                    <option value="3">fecha disponible 3</option>
                </select>
                <select name="sector" id="sector">
                    <option value="1">lugar disponible 1</option>
                    <option value="2">lugar disponible 2</option>
                    <option value="3">lugar disponible 3</option>
                </select>

            </div>
            <button>comprar</button>
        </div>
    </main>
    <footer class="home__footer">
        <div class="footer-container">
            <div class="footer-topBox">
    
                <div class="footer-helpBox">
                    <h2>¿Necesitás ayuda?</h2>
                    <button>Soporte</button>
                </div>
    
                <nav class="footer-nav">
                    <ul>
                        <li><a href="">¿Quiénes somos?</a></li>
                        <li><a href="">Políticas de privacidad</a></li>
                        <li><a href="">Términos y condiciones</a></li>
                    </ul>
                </nav>
    
            </div>
    
            <div class="footer-bottomBox">
    
                <img src="/images/logo.png" alt="logo ticket Pro">
    
                <div class="footer-iconsBox">
                    <i class="fa-brands fa-instagram fa-2xl"></i>
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                    <i class="fa-brands fa-twitter fa-2xl"></i>
                </div>
    
            </div>
        </div>
        <p>Copyright © 2023 ticketpro.com | All rights reserved</p>
    </footer>

</body>

</html>