<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Puntos de retiro'}) %>
  <body class="body-main">
    <%- include('partials/header') %>
    <div class="container">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" style="color: #fe7f2d">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
              style="background-color: #000b27; color: #fe7f2d"
            >
              Locuras CABA
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23912.76062966054!2d-58.40540687666083!3d-34.62306706668133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb300b77f7d5%3A0x47ff8d386b7faf8!2sLocuras!5e0!3m2!1ses-419!2sar!4v1703091592439!5m2!1ses-419!2sar"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
              style="background-color: #000b27; color: #fe7f2d"
            >
              Zona Rock - Mar del Plata
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25155.48015754007!2d-57.58506540596229!3d-37.99031245360147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc1a5d03ba93%3A0xad34c445e65df615!2sZona%20Rock!5e0!3m2!1ses-419!2sar!4v1703091995138!5m2!1ses-419!2sar"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
              style="background-color: #000b27; color: #fe7f2d"
            >
              La Daga Rock - Rosario
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.13280425078!2d-60.63951822466035!3d-32.94750297359279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab198314e621%3A0x1616cf592737691e!2sLa%20daga%20rock!5e0!3m2!1ses-419!2sar!4v1703092080573!5m2!1ses-419!2sar"
                width="400"
                height="300"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
