<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Términos y condiciones'}) %>
  <link rel="stylesheet" href="/stylesheets/termsAndConditions.css" />
  <body class="body-main">
    <%- include('partials/header') %>
    <main class="container">
      <div class="content">
        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >TÉRMINOS LEGALES PARA EL USO DE NUESTRO SERVICIO</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >El presente documento describe los términos y condiciones (en
              adelante los "Términos y Condiciones") para el uso de los
              servicios ofrecidos por “BP Entertainment.” CUIT&nbsp;
              12-34567891-2 (en adelante la “EMPRESA”), para la compra de
              entradas (en adelante “Entradas”) a espectáculos, eventos, o
              funciones (en adelante “Eventos”), mediante la utilización de su
              sistema (en adelante “ticketPro”). Los Términos y Condiciones son
              de carácter obligatorio y vinculante.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Cualquier persona que desee adquirir Entradas (en adelante el
              “Cliente”) es responsable de revisar y aceptar los Términos y
              Condiciones y demás políticas que rigen el uso de ticketPro
              previamente a la adquisición de las mismas. La compra de entradas
              por parte del Cliente, implica que ha aceptado los Términos y
              Condiciones y políticas establecidas por ticketPro.
            </span></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >El Cliente es responsable de verificar y aceptar, incluyendo sin
              limitación: (i) la descripción y especificación del Evento para el
              cual adquirió la o las Entradas, (ii) los plazos y condiciones de
              la entrega y uso de la pulsera para el acceso al o a los Evento/s,
              en caso de que se determine que para el Evento en cuestión se hará
              entrega de una pulsera para el acceso, (iii) los precios,
              modalidad y condiciones de pago, (iv) los costos y cargos
              adicionales. El Cliente acepta que la información del Evento, la
              fecha, la cantidad de Entradas, el valor de las mismas, el sector
              y ubicación deseada, y demás información de las entradas a
              adquirir, han sido revisadas por él, y que la información
              ingresada a ticketPro es de su responsabilidad, ya que una vez
              confirmada su compra no se permiten cambios, reembolsos y/o
              devoluciones por este motivo.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >El Cliente tiene derecho a revocar la aceptación durante el plazo
              de 10 (diez) días corridos a partir de la fecha en que se
              adquieran las entradas, lo último que ocurra, sin responsabilidad
              alguna.</span
            ></span
          >
        </p>

        <p style="text-align: justify">&nbsp;</p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >DESCRIPCIÓN DE LOS SERVICIOS</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Las Entradas son vendidas por ticketPro, actuando en carácter de
              mandatario, en nombre y representación del Organizador del Evento,
              Productor, Promotor, Realizador, Empresario, Teatro, Estadio,
              Predio o Establecimiento (en adelante el “Organizador”). El
              Organizador es el único y directo responsable del Evento a
              realizarse, y define las condiciones del Evento y de la venta de
              Entradas en todos los casos. El Cliente declara conocer que la
              realización de cualquier Evento, del que compre sus Entradas a
              través de ticketPro, es responsabilidad del Organizador, y de él
              dependen las fechas, horarios, condiciones de seguridad,
              ubicaciones, realización, organización y contenido del
              Evento.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >El Cliente toma conocimiento y acepta que el Organizador, tiene
              el derecho a cambiar, agregar, eliminar, modificar o sustituir
              artistas, variar el programa, precios y ubicaciones, como así
              también modificar la capacidad de la sala y el horario en que se
              presente cada artista.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Las compras realizadas por el sistema ticketPro mediante el uso
              de tarjetas están sujetas a la verificación de los datos y
              aceptación de la transacción por parte de la entidad emisora de
              las tarjetas. En el caso de constatar inconsistencia en los datos
              suministrados por el Cliente (tipo de DNI, número de DNI, fecha de
              nacimiento, domicilio, titular de la tarjeta, entre otros), la
              compra podrá anularse automáticamente, al momento de constatar
              dicha inconsistencia de datos.
            </span></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >El Cliente acepta conocer que las Entradas que compre tienen un
              costo adicional por el servicio ofrecido por ticketPro (en
              adelante “Cargo de Servicio”), el cual varía de acuerdo al Evento
              y las condiciones de venta. El importe del Cargo de Servicio será
              aquel publicado en el sitio de internet de ticketPro, a través del
              cual se realiza la venta de Entradas (en adelante, el “Sitio”),
              servicio que una vez brindado, no corresponde su devolución,
              excepto en caso de arrepentimiento, dentro de los diez días de
              realizada la compra.</span
            ></span
          >
        </p>

        <p style="text-align: justify">&nbsp;</p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >SUSPENSIÓN, REPROGRAMACIÓN O CANCELACIÓN DE EVENTOS</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Si la fecha de un Evento variara por alguna circunstancia, las
              Entradas serán válidas para la fecha definitiva que fije e informe
              el Organizador.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Si un Evento es suspendido, cancelado o reprogramado debido a
              cualquier causa, incluso las que respondan a, caso fortuito o
              fuerza mayor, no existirá derecho a efectuar reclamo alguno por
              devoluciones o cambios. Si un Evento es cancelado por cualquier
              motivo, la devolución del precio de la Entrada se realizará de
              acuerdo a lo establecido por el Organizador del Evento, no
              teniendo ticketPro ninguna responsabilidad al respecto.</span
            ></span
          >
        </p>

        <p style="text-align: justify">&nbsp;</p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >ENTRADAS - ACCESO A EVENTOS</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Para cada Evento, el Organizador emitirá las correspondientes
              Entradas, las cuales serán entregadas en los lugares y horarios a
              ser determinados por el Organizador; estos serán informados
              oportunamente y por medios adecuados para que los Clientes tomen
              conocimiento. El Organizador se reserva la posibilidad de
              reemplazar los tickets de entradas por códigos QR, siendo ambos
              formatos idénticos a todo efecto. Asimismo, el Organizador se
              reserva la posibilidad de establecer que para el ingreso al Evento
              se deberá canjear los tickets de entradas o los códigos QR por
              pulseras; dicho canje será realizado en la forma, horario y lugar
              a determinar por el Organizador. Un Cliente puede adquirir más de
              una Entrada, hasta la cantidad máxima de cuatro (4) entradas por
              Cliente o la que determine el Organizador; en dicho caso, se
              emitirá un ticket o código QR según corresponda por cada entrada
              adquirida y cada uno de ellos será canjeado por una pulsera. En
              caso que El Organizador constate que un Cliente ha adquirido más
              de cuatro (4) entradas para un evento, la compra podrá ser anulada
              en cualquier momento, reintegrando el monto total abonado a la
              tarjeta con la que realizó la compra, sin derecho a compensación
              alguna, toda vez que el Cliente acepta y ha tomado conocimiento
              que no puede adquirir más de cuatro (4) entradas para un evento,
              por más que el sistema lo permita.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Para el acceso al Evento, el Organizador exigirá la exhibición de
              la Entrada, del código QR o de la respectiva pulsera, dependiendo
              de la modalidad que el Organizador hubiese adoptado para ese
              Evento en particular. En el caso de emplear pulseras, estas serán
              leídas en el punto de control para verificar si el Cliente
              adquirió la Entrada para el Evento y permitir o denegar su acceso
              al mismo, según corresponda.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >En caso de que el Cliente hubiera elegido retirar su pulsera en
              la boletería del predio el día del evento, deberá presentarse en
              boletería con su ticket de la Entrada o código QR, dependiendo del
              Evento en cuestión y su DNI para acreditar su identidad, de lo
              contrario la pulsera no podrá serle entregada. Dado que muchos
              Clientes eligen esta opción de retiro de pulsera, podría ocurrir
              que esta situación genere largas filas en horarios muy cercanos al
              comienzo del Evento. ticketPro no será responsable por la demora
              que usted pudiera sufrir en acceder a su pulsera y al Evento. En
              atención a ello, el Cliente acepta que adoptará los esfuerzos
              necesarios para llegar a tiempo al Evento en caso de elegir esta
              opción para la entrega de la Entrada y/o la pulsera.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Las pulseras no podrán ser utilizadas en ningún caso para su
              reventa y/o aplicación comercial o de promoción alguna sin la
              previa autorización por escrito del Organizador o de
              ticketPro<span style="line-height: 115%">&nbsp;</span>.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >El Cliente toma conocimiento que el Organizador del Evento, podrá
              establecer medidas de seguridad al ingreso o durante la
              realización del Evento, como por ej. cacheos en los ingresos para
              que el personal de seguridad habilitado, verique que los Clientes
              no ingresen con elementos o sustancias peligrosas. Por tal motivo,
              el Clientes acepta que en caso de existir alguna situación que
              comprometa la seguridad del Evento, el personal de seguridad
              habilitado, podrá impedirle la entrada, incluso podrá impedirse la
              entrada a quien se niegue a que se le efecuen dichos controles, no
              acarreando dicha decisión ninguna responsabilidad o consecuencia
              para BP Entertainment S.A, ticketPro o el Organizador.
            </span></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >No se permitirá el ingreso a los Eventos con cualquier tipo de
              elementos de pirotecnia. El Organizador podrá solicitar a las
              fuerzas de seguridad públicas y/o privadas presentes en el
              recinto, el chequeo, control, y de ticketPro.</span
            ></span
          >
        </p>

        <p style="text-align: justify">&nbsp;</p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >DERECHO DE LOS ORGANIZADORES</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Está prohibido el ingreso a los Eventos con grabadoras de audio
              y/o de vídeo y cámaras fotográficas. El Cliente presta su
              conformidad para que su imagen sea incluida en producciones que se
              realicen por medios audiovisuales y/o sean publicadas en diversas
              plataformas. Las Entradas únicamente serán consideradas válidas
              para ingresar a un Evento siempre que hayan sido adquiridas a
              través de ticketPro y junto con la pulsera en caso que se hubiera
              determinado que se requerirá para el Evento en cuestión.</span
            ></span
          >
        </p>

        <p style="text-align: justify">&nbsp;</p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >MODIFICACIÓN DE LOS TÉRMINOS Y CONDICIONES</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >ticketPro podrá modificar los Términos y Condiciones en cualquier
              momento, haciendo públicos en el Sitio las partes de los mismos
              que sean modificadas. Todos los términos modificados entrarán en
              vigor a los 10 (diez) días de su publicación en el Sitio.</span
            ></span
          >
        </p>

        <p style="text-align: justify">&nbsp;</p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >DATOS PERSONALES Y PRIVACIDAD DE LA INFORMACIÓN</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >El Cliente asume el compromiso de registrarse en ticketPro
              proporcionando su información personal de manera exacta, precisa y
              verdadera, y de actualizar estos datos conforme resulte necesario
              (los “Datos Personales”). El Cliente acepta haber proporcionado
              toda la información real personal requerida, y es él únicamente
              responsable por la información allí registrada que no sea real.
              Quien suministre información o use su entrada para falsificaciones
              o adulteraciones será responsable de acuerdo a lo establecido por
              la legislación Argentina.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Al utilizar los servicios de ticketPro, el titular de Datos
              Personales presta su consentimiento expreso e informado conforme a
              lo establecido en la Ley Nº25.326 y sus modificatorias (la “Ley de
              Protección de Datos Personales”) y normativa reglamentaria en
              materia de protección de datos personales. En consecuencia,&nbsp;
              declara conocer y aceptar que sus Datos Personales integren la
              base de datos de ticketPro, otorgando por la presente,
              autorización expresa para: (i) el tratamiento automatizado de
              dichos datos e información y (ii) su utilización para servicios
              actuales o futuros que desarrolle ticketPro. Conforme el artículo
              27 Ley de Protección de Datos Personales, en el caso de utilizar
              los Datos Personales con fines publicitarios el titular de los
              mismos podrá ejercer su derecho de acceso sin cargo alguno así
              como también podrá en cualquier momento solicitar el retiro o
              bloqueo de su nombre de las bases de datos donde se encuentren sus
              Datos Personales usados con fines publicitarios.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 16px"
            >Los Datos Personales serán procesados y almacenados en servidores o
            medios magnéticos con altos estándares de seguridad y protección
            tanto física como tecnológica. Para mayor información sobre la
            provacidad de los Datos Personales, consulte nuestra Política de
            Privacidad.</span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >El titular de los Datos Personales tiene la facultad de ejercer
              el derecho de acceso a los mismos en forma gratuita y a intervalos
              no inferiores a seis meses, salvo que se acredite tener un interés
              legítimo al efecto conforme lo establecido en el artículo 14,
              inciso 3 de la Ley de Protección de Datos Personales. El titular
              de los datos, tiene además la posibilidad de ejercer los derechos
              de rectificación, y supresión de los datos conforme los artículo
              6, inciso e y artículo 16 de la Ley de Protección de Datos
              Personales.</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Toda denuncia y reclamo que se interponga con relación al
              incumplimiento de las normas en materia de protección de datos
              personales deberán ser dirigidas a la Dirección Nacional de
              Protección de Datos Personales, la cual es el órgano de Órgano de
              Control de la Ley de Protección de Datos Personales.</span
            ></span
          >
        </p>

        <p style="text-align: justify">&nbsp;</p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >JURISDICCIÓN Y LEY APLICABLE</span
            ></span
          >
        </p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Toda controversia será resuelta de acuerdo a la Ley Argentina y
              será sometida a la jurisdicción de la Justicia Nacional en lo
              Comercial con asiento en la Ciudad Autónoma de Buenos Aires de la
              República Argentina, con renuncia a cualquier otro fuero y/o
              jurisdicción que les pudiera corresponder.</span
            ></span
          >
        </p>

        <p style="text-align: justify">&nbsp;</p>

        <p style="text-align: justify">
          <span style="font-size: 12pt"
            ><span style="line-height: 115%"
              >Para más información puede acceder a Defensa del Consumidor</span
            ></span
          >
        </p>
      </div>
    </main>
    <%- include('partials/scripts') %> <%-include('partials/footer') %>
  </body>
</html>
