<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/whoWeAre.css" />
  <body class="body-main">
    <%- include('partials/header') %>
    <main class="container">
      <div class="content">
        <h3>Propósito</h3>
        <p>
          Somos una empresa líder en comercialización de tickets y productos
          asociados a eventos y espectáculos en Argentina. Contamos con el
          talento y la tecnología en el desarrollo de soluciones seguras para
          satisfacer las necesidades de nuestros clientes y brindar a las
          personas una experiencia de compra y acceso ágil a su evento.
        </p>
        <h3>Visión</h3>
        <p>
          Queremos consolidar nuestro liderazgo en Argentina y expandirnos
          internacionalmente en venta de tickets.
        </p>
        <h3>Valores</h3>
        <p>
          Asumimos la responsabilidad de cumplir en tiempo y forma el trabajo
          asignado, poniendo al máximo nuestras capacidades.
        </p>
        <p>
          Trabajamos con procesos para que cada actividad sea desarrollada con
          eficiencia.
        </p>
        <p>
          Para brindar el mejor servicio nuestro equipo trabaja de manera
          conjunta y sinérgica.
        </p>
        <p>
          Buscamos de una manera creativa y sencilla la mejor solución para
          resolver rápidamente las situaciones que se presentan.
        </p>
      </div>
    </main>
    <%- include('partials/scripts') %> <%-include('partials/footer') %>
  </body>
</html>
