<footer class="home__footer">
    <div class="footer-container">
        <div class="footer-topBox">

            <div class="footer-helpBox">
                <h2>¿Necesitás ayuda?</h2>
                <button class="footer-helpBox-button">Soporte</button>
            </div>

            <nav class="footer-nav">
                <ul>
                    <li><a class="footer-preguntas" href="">¿Quiénes somos?</a></li>
                    <li><a class="footer-preguntas" href="">Políticas de privacidad</a></li>
                    <li><a class="footer-preguntas" href="">Términos y condiciones</a></li>
                </ul>
            </nav>

        </div>

        <div class="footer-bottomBox">

            <a href="/"><img src="/images/logo.png" alt="logo ticket Pro"></a>

            <div class="footer-iconsBox">
                <i class="fa-brands fa-instagram fa-2xl"></i>
                <i class="fa-brands fa-facebook fa-2xl"></i>
                <i class="fa-brands fa-twitter fa-2xl"></i>
            </div>

        </div>
    </div>
    <p>Derechos de autor © 2023 ticketpro.com | Derechos Reservados</p>
</footer>