<footer class="home__footer">
    <div class="footer-container">
        <div class="footer-topBox">

            <div class="footer-helpBox">
                <h2>¿Necesitás ayuda?</h2>
                <button>Soporte</button>
            </div>

            <nav class="footer-nav">
                <ul>
                    <li><a href="">¿Quiénes somos?</a></li>
                    <li><a href="">Políticas de privacidad</a></li>
                    <li><a href="">Términos y condiciones</a></li>
                </ul>
            </nav>

        </div>

        <div class="footer-bottomBox">

            <img src="/images/logo.png" alt="logo ticket Pro">

            <div class="footer-iconsBox">
                <i class="fa-brands fa-instagram fa-2xl"></i>
                <i class="fa-brands fa-facebook fa-2xl"></i>
                <i class="fa-brands fa-twitter fa-2xl"></i>
            </div>

        </div>
    </div>
    <p>Copyright © 2023 ticketpro.com | All rights reserved</p>
</footer>