<header class="home-header-all">
    <div class="home-header">
        <div class="containe">
            <div class="home-header-nav nav-home-a">
                <a href="/users/login" class="nav-icon-a"><i class="fa-regular fa-user"></i></a>
                <img src="/images/logo.png" alt="">
                <a href="/users/login">
                    <h6>Ingresar</h6>
                </a>
            </div>
            <div class="home-header-nav nav-home-b">
                <a href="/users/login" class="nav-icon-a"><i class="fa-regular fa-user"></i></a>
                <a href="/products/productCart" class="nav-icon-b"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
</header>