<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body class="body__login">
    <main class="login-container">

        <div class="topBox">
            <a href="/"><img src="/images/logo.png" alt="logo ticket Pro"></a>
        </div>

        <div class="middleBox">
            <form class="register_form" action="" method="POST">
                <div class="register_form-inputs">
                    <input type="email" name="email" placeholder="Email">
                    <% if (locals.errors && locals.errors.email) { %>
                        <small><%= locals.errors.email.msg %> </small>
                    <% } %>  
                    <input type="password" name="password" placeholder="Contraseña">
                    <% if (locals.errors && locals.errors.password) { %>
                        <small><%= locals.errors.password.msg %> </small>
                    <% } %>
                    <div class="checkbox">
                        <input type="checkbox" value="" id="remember" name="remember">
                        <label for="remember">Recordarme</label>
                    </div>
                </div>
                <div class="bottomBox">
                    <div class="button-container">
                        <button type="submit">Ingresar</button>
                    </div>
                    <div class="links-box">
                        <a href="/users/register">Crear cuenta</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>
